<div class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Milkshakes", milkshakes_path %>
    </li>
      <li class="nav-item">
      <%= link_to "New milkshake", new_milkshake_path %>
    </li>
  </ul>
</div>

<div class="container-show">
<div class="card-milkshake">
<div class="card-image" style="background-image: url('<%= cl_image_path @milkshake.photo.key, height: 300, width: 400, crop: :fill %>')">

</div>
<div class="card-info">
<h1><%= @milkshake.name %></h1>
<h5>- <%= @milkshake.description %></h5>

<h4>Ingrediants:</h4>
<ul>
<% @milkshake.doses.each do |dose| %>
<li class="list-show"><h6><%= dose.ingredient.name %> - <%= dose.description %> </h6><p class="delete_button"><%= link_to "",
            dose_path(dose),
            method: :delete,
             class: "fas fa-times-circle",
            data: { confirm: "Are you sure?" } %></p>

<% end %>
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add ingredient
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to 'Add ingredient', new_milkshake_dose_path(@milkshake) %>

      </div>
    </div>
  </div>
</div>

</div>
</div>

</div>